
/*
    pinta colors
*/
:root {
    --pintaYellow: #f8b503;
    --pintaBlue: #297a9c;
    --pintaSilver: #cbcbcb;
}

/* TODO: use a nested container with a minimum size that can grow if needed */
/* TODO: mobile friendly */
body {
    background-color: #143C4D;
    display: flex;
    justify-content: center;
}

.panel {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: darkgray;
}

.row {
    display: flex;
    margin: 5px;
}

.header {
    align-items: center;
    justify-content: space-evenly;
}

.header-image {
    border-radius: 9px;
    overflow: hidden;
    background-color: var(--pintaBlue);
}

.controls {
    align-items: center;
    justify-content: flex-start;
}

#select-manips {
    margin: 5px;
}

.column {
    display: flex;
    flex-direction: column;
}

.padded {
    padding: 5px;
    margin: 5px;
}

.timing-meter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.timing-lead-up-meter {
    display: flex;
    flex-direction: row;
    background-color: var(--pintaBlue);
    border: solid 1px var(--pintaSilver);
    position: relative;
    margin: 0 5px;
}

.timing-measure-indicator {
    height: 16px;
    width: 16px;
    margin: 0px 5px;
    background-color: var(--pintaBlue);
    border-radius: 50%;
    border: 2px solid var(--pintaBlue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.timing-measure-indicator.timing-hit {
    background-color: var(--pintaYellow);
}

.timing-line {
    width: 2px;
    background-color: var(--pintaSilver);
    position: absolute;
    height: 20px;
}

.timing-icons {
    position: relative;
    align-items: center;
}

.timing-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timing-lead-up {
    position: absolute;
    bottom: 30px;
    height: 17px;
    width: 17px;
}

.timing-lead-up img {
    width: 100%; height: 100%;
}

.timing-hit img {
    content: url(img/triangle-lead-up-hit.svg);
}

.timing-target {
    position: absolute;
    bottom: 30px;
    height: 20px;
    width: 20px;
}

.timing-target img {
    width: 100%; height: 100%;
}

.timing-hit-marker {
    position: absolute;
    display: flex;
    align-items: center;
    top: 30px;
}

.timing-cursor {
    clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
    background-color: red;
    width: 20px;
    height: 20px;
}

.timing-description {
    margin-left: 2px;
    font-size: small;
    font: bold small sans-serif;
}

.timing-spacer {
    height: 20px;
}

.timing-meter-filled {
    background-color: #f8b503;
    height: 20px;
    width: 0px;
}

.hidden {
    display: none;
}